.jumbotron {
  background-color: darkcyan;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("../images/banner.png");
  background-size: cover;
  width: 100%;
  height: auto;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.img-social-networks {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
footer {
  padding: 10px 10px 20px 10px;
  background-color: #343a40;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
  clear: both;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.btn-metodos-pago {
  height: 100%;
  width: 100%;
}
